*.pid
*.fcgi
*.sql
*~
*.pyc
.svn
*.tgz
*.swp
*.rss
*.atom
*.spc
pip-log.txt
local_settings.py
settings_local.py
feeds/data/*.xml

templates/news/MetroLibrary.html
templates/news/metrolosangeles.html

templates/timetables
templates/twttr/users

templates/metrolaalerts_dojo.html
static/metrolaalerts_dojo.html
metrolaalerts_dojo.html
metrolosangeles_dojo.html
static/metrolosangeles_dojo.html
ssi/cache
ssi/templates_c
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
